<!--video and canvas tags have local variable so they can be accessed by typescript-->
<div id="app">
    <div>
        <video #video id="video" width="640" height="480" autoplay="true"></video>
    </div>

    <!-- <div>
        <button id="snap" (click)="capture()">Take Photo</button>
    </div> -->

    <canvas #canvas id="canvas" width="640" height="480"></canvas>
    <ul>
        <li *ngFor="let capture of captures">
            <img src="{{ capture }}" height="50" />

        </li>
    </ul>
</div>